/* HTML BODY */
body {
  font-family: "Roboto Mono", "Courier New", monospace;
  /*font-weight: bold;*/
  /*display: flex;
  position:relative;*/
  height:100vh;
  margin:0;
  font-variation-settings: "emoji" 0;
  font-feature-settings: "emoji" 0;

  /* DARK THEME */
  background-color: rgb(17, 17, 17);
  color: #dadada
}


.flex_container{
  display: flex;
}

/* CENTERED CONTAINER */
.cntrd_cntnr {
  margin: auto;
  padding: 10px;
  width: 95%;
  text-align: center;
  /*border: 1px dashed rgb(33, 33, 33);*/
}

h1, h2, h3 {
  /*font-size: xxx-large;*/
  margin:0;
}

.headsubtext {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* FLEET COMMAND */

.fleet-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10%;
}
.ascii-ship {
  /* Pos */
  display:inline-block;
  /* Size */
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 2.5em;
  /* Style */
  margin:auto;
  cursor: pointer;
  /*text-align: center;*/
  user-select: none;
  border-radius: 5px;
}
.ascii-ship:hover {
  background-color: #333333;
  /*border:1px dahsed #ccc;*/
}

#ship-info {
  position: absolute;
  bottom:0;
  width:100%;
  margin: 0;
  padding: 0;

  border-top: 2px solid #333;
  text-align: center;

  overflow: hidden;
}

.command_buttons {
  /*margin-top: 10px;*/
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #333;
  color: #dadada;
  cursor: pointer;
}

.bigTxtSpan {
  font-size: 1.5em;
}
.biggerTxtSpan {
  font-size: 2.5em;
}
.smallTxtSpan{
  font-size: 0.6em;
}
.smallerTxtSpan{
  font-size: 0.25em;
}
/* END OF FLEET COMMAND */

/* ERROR TEXT DISPLAY */
.errorTxtDisplay {
  position:absolute;
  bottom:0;
  color:green;
  animation: slidendissolve 15s ease 1;
  opacity: 0;
  filter: blur(0);
  margin:0.3em;
}

@keyframes slidendissolve {
  0% {
    transform: translate(150vw, 0);
    opacity:1;
  }
  15% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
    filter: blur(0);
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    filter: blur(50px);
    opacity: 0;
  }
}
/* END OF ERROR TEXT DISPLAY*/

.status_bar{
  position:absolute;
  top:0;
}