/* HTML BODY */
body {
  font-family: 'Roboto Mono';
  /*font-weight: bold;*/
  display: flex;
  height:100vh;
  margin:0;

  /* DARK THEME */
  background-color: rgb(17, 17, 17);
  color: #dadada
}

/* CENTERED CONTAINER */
.cntrd_cntnr {
  margin: auto;
  padding: 10px;
  width: 95%;
  text-align: center;
  /*border: 1px dashed rgb(33, 33, 33);*/
}

h1, h2, h3 {
  /*font-size: xxx-large;*/
  margin:0;
}

.headsubtext {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* FLEET COMMAND */

.fleet-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10%;
}
.ascii-ship {
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  user-select: none;

  margin:auto;
}
.ascii-ship:hover {
  background-color: #dadada;
  /*border:1px dahsed #ccc;*/
}

#ship-info {
  position: absolute;
  bottom:0;
  width:100%;
  margin-top: 30px;
  padding: 15px;

  border-top: 2px solid #333;
  text-align: center;
}

.command_buttons {
  /*margin-top: 10px;*/
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #333;
  color: #dadada;
}

.bigTxtSpan {
  font-size: 1.5em;
}
.biggerTxtSpan {
  font-size: 2.5em;
}

/* END OF FLEET COMMAND */