/* HTML BODY */
body {
  font-family: 'Roboto Mono';
  /*font-weight: bold;*/
  display: flex;
  height:100vh;
  margin:0;

  /* DARK THEME */
  background-color: rgb(17, 17, 17);
  color: rgb(227, 227, 227);
}

/* CENTERED CONTAINER */
.cntrd_cntnr {
  margin: auto;
  width: 85%;
  border: 1px dashed rgb(33, 33, 33);
  padding: 10px;
}

.cntrd_cntnr * {
  /*vertical-align: middle;*/
  text-align: center;
}

.cntrd_cntnr h1, .cntrd_cntnr h2, .cntrd_cntnr h3 {
  /*font-size: xxx-large;*/
  margin:0;
}

.headsubtext {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* FLEET COMMAND */
/*
.fleet-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}*/
.ascii-ship {
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  user-select: none;
}
.ascii-ship:hover {
  background-color: #eee;
}/*
#ship-info {
  margin-top: 30px;
  padding: 15px;
  border-top: 2px solid #333;
}
.command-buttons {
  margin-top: 10px;
}
*/
/* END OF FLEET COMMAND */